@import "tailwindcss";

@theme {
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--foreground));
    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover));
    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));
    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));
    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));
    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));
    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));
    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-success: hsl(var(--success));
    --color-info: hsl(var(--info));
    --color-warn: hsl(var(--warn));
    --color-root: hsl(var(--root));
    --color-data: hsl(var(--data));
    --color-contextual: hsl(var(--contextual));
    --color-error: hsl(var(--error));
}

@layer base {
    :root {
        --background: 0 0% 94%;
        --foreground: 240 10% 4%;

        --card: 0 0% 94%;
        --card-foreground: 240 10% 4%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 4%;

        --primary: 0 0% 93%;
        --primary-foreground: 240 10% 4%;

        --secondary: 0 0% 94%;
        --secondary-foreground: 240 10% 4%;

        --muted: 240 5% 96%;
        --muted-foreground: 240 4% 46%;

        --accent: 79 78% 59%;
        --accent-foreground: 240 10% 4%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;

        --border: 60 4% 5% / 0.25;
        --input: 240 5% 90%;
        --ring: 60 4% 5% / 0.25;

        --success: 142 52% 51%;
        --info: 226 55% 50%;
        --warn: 32 93% 48%;
        --root: 23 73% 64%;
        --data: 274 71% 56%;
        --contextual: 142 41% 51%;
        --error: 0 100% 57%;

        --radius: 1rem;
    }


    .dark {
        --background: 240 10% 4%;
        --foreground: 0 0% 98%;

        --card: 220 33% 15%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 4%;
        --popover-foreground: 0 0% 98%;

        --primary: 240 6% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 5% 16%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 5% 16%;
        --muted-foreground: 240 5% 65%;

        --accent: 240 5% 16%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 63% 30%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5% 16%;
        --input: 240 5% 16%;
        --ring: 240 6% 84%;

        --success: 142 71% 45%;
        --info: 226 55% 50%;
        --warn: 36 90% 61%;
        --root: 23 82% 57%;
        --data: 284 80% 53%;
        --contextual: 142 70% 38%;
        --error: 0 100% 57%;
    }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.volatile_or_fixed {
  margin-bottom: 6px;
}

.revoked {
  border-color: var(--warn);
  border-style:dashed;
  border-width: 0.1em;
  border-radius: var(--radius);
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 0.1);
  margin-bottom: 6px;
}

.gone {
  border-color: var(--destructive);
  border-style:dashed;
  border-width: 0.1em;
  border-radius: var(--radius);
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 0.1);
  margin-bottom: 6px;
}

data-card{
  --mainBG: light-dark(#EEEEEE, #18181B);
  --darkerBG: light-dark(#71717A, #111822);
  --lighterBG: light-dark(#F4F4F5, #27272A);
  --tagText: #18181B;
  font-size: 14px;
}

data-card::part(card-container) {
  border-color: light-dark(#0c0c0b40, #27272A);
  border-style: solid;
  border-width: 0.1em;
  border-radius: var(--radius);
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 0.1);
  height: 180px;
}

data-card::part(child-data-card){
  border-color: light-dark(#EFEFEF, #1a2333);
  border-style: solid;
  border-width: 0.1em;
  border-radius: var(--radius);
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 0.1);
  margin-bottom:6px;
}

data-card::part(detailed-label){
  font-weight: bold;
}

data-card::part(label-value-wrapper){
  margin-right: 6px;
}

data-card::part(detailed-card-container){
  background-color: light-dark(#EEEEEE, #18181B);
}

/**Customization for mobile view*/
@media (max-width: 640px) {
  data-card::part(detailed-card-container){
    flex-wrap: wrap;
    display:block;
  }
  data-card::part(detailed-metadata-container){
    text-align: center;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
  }
}

data-card::part(detailed-metadata-container){
  background-color: light-dark(#EEEEEE, #18181B);
}

data-card::part(image-wrapper){
}

data-card::part(orcid-logo){
  width: 16px;
  height:16px;
  margin-right: 4px;
  text-decoration: underline!important;
}
data-card::part(orcid-link){
  text-decoration: underline!important;
}

data-card::part(action-btn-icon){
  color: light-dark(var(--accent-foreground), var(--accent-foreground));
  font-weight: 500;
  text-decoration: underline!important;
}

.uppy-Container{
  background-color: var(--card);
  border-color: var(--accent);
  border-style: solid;
  border-width: 0.1em;
  border-radius: var(--radius);
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 0.1);
  height: 340px;
  width: 100%;
  margin: 4px;
}

.uppy-Dashboard-inner {
  position: relative;
  color: var(--primary-foreground);
  max-height: 100%; /* no !important */
  min-width: 100%!important;
  /*min-height: 180px;*/
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 5px;
  height: 340px !important; /* Ensure it takes 100% of its parent container's height */
  min-height: unset !important; /* Remove the default min-height */
  max-width: unset !important;
}

iconify-icon{
  display:inline-block;
  width:1em;
  height:1em;
}
