@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #09090B;

    --card: #EFEFEF;
    --card-foreground: #09090B;

    --popover: #FFFFFF;
    --popover-foreground: #09090B;

    --primary: #18181B;
    --primary-foreground: #FAFAFA;

    --secondary: #F4F4F5;
    --secondary-foreground: #18181B;

    --muted: #F4F4F5;
    --muted-foreground: #71717A;

    --accent: #F4F4F5;
    --accent-foreground: #18181B;

    --destructive: #EF4444;
    --destructive-foreground: #FAFAFA;

    --border: #E4E4E7;
    --input: #E4E4E7;
    --ring: #09090B;

    --radius: 0.5rem;

    --success: rgb(63, 197, 112);
    --info: rgb(58, 83, 196);
    --warn: rgb(237, 123, 9);
    --root: rgb(229, 142, 94);
    --data: rgb(166, 67, 221);
    --contextual: rgb(79, 182, 112);
    --error: rgb(255, 35, 35);
  }

  .dark {
    --background: #09090B;
    --foreground: #FAFAFA;

    --card: #1e293b;
    --card-foreground: #FAFAFA;

    --popover: #09090B;
    --popover-foreground: #FAFAFA;

    --primary: #FAFAFA;
    --primary-foreground: #18181B;

    --secondary: #27272A;
    --secondary-foreground: #FAFAFA;

    --muted: #27272A;
    --muted-foreground: #A1A1AA;

    --accent: #27272A;
    --accent-foreground: #FAFAFA;

    --destructive: #7F1D1D;
    --destructive-foreground: #FAFAFA;

    --border: #27272A;
    --input: #27272A;
    --ring: #D4D4D8;

    --success: rgb(34 197 94);
    --info: rgb(58, 83, 196);
    --warn: rgb(245,167,66);
    --root: rgb(236,121,57);
    --data: rgb(186,34,236);
    --contextual: rgb(29,165,77);
    --error: rgb(255, 35, 35);
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

data-card::part(myclass){
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

data-card{
  --mainBG: light-dark(#FFFFFF, #18181B);
  --darkerBG: light-dark(#71717A, #09090B);
  --lighterBG: light-dark(#FFFFFF, #71717A);
  --tagText: #18181B;
  font-size: 12px;
}

data-card::part(detailed_label){
    font-weight: bold;
}

data-card::part(detailed_value){
  margin-left: 4px;
}

data-card::part(detailed-card-container){
  background-color: var(--lighterBG);
}

data-card::part(card-container){
  border-color: var(--darkerBG);
  border-style: solid;
  border-width: 0.1em;
  margin-bottom:6px;
}

data-card::part(child-data-card){
  border-color: var(--darkerBG);
  border-style: solid;
  border-width: 0.1em;
  margin-bottom:6px;
}

data-card::part(image-wrapper) {
  //box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

div[data-schematype='array'] > p, div[data-schematype='object'] > p{
  font-size: 10px;
}

.json-editor-btntype-properties{
  width: 120px;
  height: 35px;
  border-radius: 0.375rem!important;
  background-color: var(--contextual)!important;
}


.je-object__container:not(.w-full):not([data-schemaid='root']){
  margin-left: 20px;
}

.je-object__container:not(.w-full) > .je-object__title > span{
  font-size: 14px;
  color: #777777;
}

p[style='color: red;']{
  font-size: 10px;
  font-weight: bold;
}
p[style='color: red;']:before{
  content: '! ';
  font-size: 14px;
}

p[style='color: red;']:after{
  content: ' !';
  font-size: 14px;
}



