@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #EFEFEF;
    --foreground: #09090B;

    --card: #EFEFEF;
    --card-foreground: #09090B;

    --popover: #FFFFFF;
    --popover-foreground: #09090B;

    --primary: #EEEEEE;
    --primary-foreground: #09090B;

    --secondary: #EFEFEF;
    --secondary-foreground: #09090B;

    --muted: #F4F4F5;
    --muted-foreground: #71717A;

    --accent: #b5e941;
    --accent-foreground: #09090B;

    --destructive: #EF4444;
    --destructive-foreground: #FAFAFA;

    --border: #0c0c0b40;
    --input: #E4E4E7;
    --ring: #0c0c0b40;

    --radius: 1rem;

    --success: rgb(63, 197, 112);
    --info: rgb(58, 83, 196);
    --warn: rgb(237, 123, 9);
    --root: rgb(229, 142, 94);
    --data: rgb(166, 67, 221);
    --contextual: rgb(79, 182, 112);
    --error: rgb(255, 35, 35);
  }

  .dark {
    --background: #09090B;
    --foreground: #FAFAFA;

    --card: #1a2333;
    --card-foreground: #FAFAFA;

    --popover: #09090B;
    --popover-foreground: #FAFAFA;

    --primary: #18181B;
    --primary-foreground: #FAFAFA;

    --secondary: #27272A;
    --secondary-foreground: #FAFAFA;

    --muted: #27272A;
    --muted-foreground: #A1A1AA;

    --accent: #27272A;
    --accent-foreground: #FAFAFA;

    --destructive: #7F1D1D;
    --destructive-foreground: #FAFAFA;

    --border: #27272A;
    --input: #27272A;
    --ring: #D4D4D8;

    --success: rgb(34 197 94);
    --info: rgb(58, 83, 196);
    --warn: rgb(245,167,66);
    --root: rgb(236,121,57);
    --data: rgb(186,34,236);
    --contextual: rgb(29,165,77);
    --error: rgb(255, 35, 35);
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

data-card{
  --mainBG: light-dark(#EFEFEF, #111822);
  --darkerBG: light-dark(#dadad7, #ccd6e5);
  --lighterBG: light-dark(#FFFFFF, #FAFAFA);
  --tagText: #18181B;
  font-size: 14px;
}

data-card::part(card-container) {
  border-color: light-dark(#0c0c0b40, #27272A);
  border-style: solid;
  border-width: 0.1em;
  margin-bottom:6px;
  border-radius: var(--radius);
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 0.1);
  height: 180px;
}

data-card::part(child-data-card){
  border-color: light-dark(#EFEFEF, #1a2333);
  border-style: solid;
  border-width: 0.1em;
  border-radius: var(--radius);
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 0.1);
  margin-bottom:6px;
}

data-card::part(detailed-label){
  font-weight: bold;
}

data-card::part(label-value-wrapper){
  margin-right: 6px;
}

data-card::part(detailed-card-container){
  background-color: light-dark(#EFEFEF, #1a2333);
}

data-card::part(detailed-metadata-container){
  background-color: light-dark(#EFEFEF, #1a2333);
}

data-card::part(image-wrapper){
}

data-card::part(orcid-logo){
  width: 16px;
  height:16px;
  margin-right: 4px;
  text-decoration: underline!important;
}
data-card::part(orcid-link){
  text-decoration: underline!important;
}