@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

data-card {
  --mainBG: #FAFAFA;
  --darkerBG: #bdbdbd;
  --lighterBG: #FAFAFA;
  --tagText: #333;
  font-size: 12px;
}

data-card::part(detailed_label){
    font-weight: bold;
}

data-card::part(detailed_value){
  margin-left: 4px;
}


data-card::part(detailed-card-container){
  background-color: var(--lighterBG);
}

data-card::part(card-container){
  border-left-color: var(--darkerBG);
  border-left-style: solid;
  border-left-width: 0.1em;
  border-right-color: var(--darkerBG);
  border-right-style: solid;
  border-right-width: 0.1em;
}

div[data-schematype='array'] > p, div[data-schematype='object'] > p{
  font-size: 10px;
}

.json-editor-btntype-properties{
  width: 120px;
  height: 35px;
  border-radius: 0.375rem!important;
  background-color: rgb(59 130 246)!important;
}


.je-object__container:not(.w-full):not([data-schemaid='root']){
  margin-left: 20px;
}

.je-object__container:not(.w-full) > .je-object__title > span{
  font-size: 14px;
  color: #777777;
}

p[style='color: red;']{
  font-size: 10px;
  font-weight: bold;
}
p[style='color: red;']:before{
  content: '! ';
  font-size: 14px;
}

p[style='color: red;']:after{
  content: ' !';
  font-size: 14px;
}



